body {
    background-color: rgb(242, 248, 248);
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(194, 187, 187);
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.navBar>a{
    text-decoration: none;
    color: white;
}
  
.navBar :hover {
    background-color: rgb(71, 68, 68);
}

.content, #login {
    text-align: center;
    font-size: 30px;
}

.form {
    text-align: center;
}

#h3 {
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

#lbl {
   font-size: 30px;
   font-family: fantasy;
}

#inp {
    width: 30%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box; 
}